<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<title>Inicio</title>
</head>
<body>
	<div class="container mt-4">
		<!--
		<div class="row">
			<h1 class="col text-muted"style="margin-top: 20px;">Gestión de facturas</h1>
		</div>
		<div class="row">
			<hr class="col"/>
		</div>
		<div class="row">
			<a type="" th:href="@{/listar}" class="btn btn-success">Clientes</a>
			<a type="" th:href="@{/consultar}" class="btn btn-success ml-3">Consultar</a>
		</div>
		-->
		<div class="row">
			<a type="" th:href="@{/form}" class="btn btn-success">Formulario de cliente</a>
		</div>

	</div>

</body>
</html>