<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<title th:text="${titulo}"></title>
</head>

<body>
	<div class="container border p-4">
		<h1 th:text="${titulo}"></h1>
		<p>Nombre: <span th:text="${cliente.nombre}"></span></p>
		<p>Apellido: <span th:text="${cliente.apellido}"></span></p>
		<p>Email: <span th:text="${cliente.email}"></span></p>
		<p>Fecha de alta: <span th:text="${cliente.createAt}"></span></p>
		<div class="mt-4">
			<a type="" th:href="@{/form}" class="btn btn-primary">Volver al formulario</a>
		</div>
	</div>
</body>

</html>