<!doctype html>
<html lang="en">

<head>
<title th:text="${titulo}"></title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<script th:if="${result}">
			alert("Producto eliminado con éxito");
   		</script>
		<div class="row">
			<h1 class="col text-muted mt-3" th:text="${titulo}"></h1>
		</div>
		<div class="row">
			<hr class="col" />
		</div>
		<div class="row">
			<a type="" th:href="@{/crear}" class="btn btn-success">Nuevo Producto</a>
			<a type="" th:href="@{/consulta1}" class="btn btn-info ml-1">Consulta 1</a>
			<a type="" th:href="@{/consulta2}" class="btn btn-info ml-1">Consulta 2</a>
			<a type="" th:href="@{/consulta3}" class="btn btn-info ml-1">Consulta 3</a>
		</div>
		<div class="row">
			<div th:if="${productos.isEmpty()}">No hay productos en la
				lista</div>
			<table class="col table table-striped" style="margin-top: 15px"
				th:if="${not productos.isEmpty()}">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Fecha</th>
						<th>Editar</th>
						<th>Eliminar</th>
				</thead>
				<tbody>
					<tr th:each="producto: ${productos}">
						<td th:text="${producto.id}"></td>
						<td th:text="${producto.nombre}"></td>
						<td th:text="${producto.precio}"></td>
						<td th:text="${#dates.format(producto.createAt, 'dd-MM-yyyy')}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/editar/}+${producto.id}">Editar</a></td>
						<td><a class="btn btn-danger"
							th:href="@{/estadisticas/eliminar/}+${producto.id}"
							th:data-confirm-delete="|Está seguro que quiere eliminar el producto ${producto.nombre}?|"
							onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Eliminar</a>
						</td>
				</tbody>
			</table>
		</div>
		<a class="btn btn-success mb-3" href="http://localhost:8080">Inicio</a>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>